<app-navbar></app-navbar>

<main *ngIf="task">
  <a href="/tasks">
    <span class="material-icons goback"> arrow_back </span>
  </a>
  <div class="container">
    <div class="title">
      <h1>{{ task.title }}</h1>
      <span class="material-icons edit"> edit </span>
    </div>
    <section class="info">
      <ul class="info-list">
        <li>
          <span class="material-icons"> start </span>
          <div class="flex first-list">
            <h2>Início</h2>
            <p>{{ formatDate(task.startDate || "") }}</p>
          </div>
        </li>
        <li>
          <span class="material-icons"> insert_invitation </span>
          <div class="flex first-list">
            <h2>Prazo</h2>
            <p>{{ formatDate(task.deadline || "") }}</p>
          </div>
        </li>
        <li>
          <span class="material-icons"> last_page </span>
          <div class="flex first-list">
            <h2>Fim</h2>
            <p>{{ formatDate(task.completionDate || "") }}</p>
          </div>
        </li>
      </ul>
      <ul class="info-list-second">
        <li>
          <span class="material-icons user"> person_outline </span>
          <div class="flex second-list">
            <h2>Responsável</h2>
            <p class="tags">{{ responsibleName }}</p>
          </div>
        </li>
        <li>
          <span class="material-icons"> check_circle_outline </span>
          <div class="flex second-list">
            <h2>Status</h2>
            <p class="status">{{ translateStatus(task.status || "") }}</p>
          </div>
        </li>
        <li>
          <span class="material-icons"> edit_note </span>
          <div class="flex second-list">
            <h2>Projeto</h2>
            <p class="info-projects">{{ task.projectName || "" }}</p>
          </div>
        </li>
      </ul>
    </section>
    <div class="line"></div>
    <section class="description">
      <h3 class="subtitle">Descrição</h3>
      <div class="description-content">
        <textarea readonly>{{ task.description || "" }}</textarea>
      </div>
      <div class="line"></div>
    </section>
    <section class="comments">
      <h3 class="subtitle">Comentários</h3>
      <form
        class="input-container"
        [formGroup]="commentForm"
        (ngSubmit)="onSubmit()"
      >
        <input
          formControlName="description"
          class="input-comment"
          type="text"
          placeholder="Escreva aqui..."
        />
        <button type="submit" class="btn-send-comment">
          <span class="material-icons"> send </span>
        </button>
      </form>
      <div class="comments-card" *ngFor="let comment of comments">
        <div class="circle"></div>
        <div class="comment-grid">
          <div>
            <h4 class="username">{{ username }}</h4>
            <p class="comment-description">
              {{ comment?.description }}
            </p>
          </div>
          <button
            *ngIf="userId === comment.userId"
            (click)="deleteComment(comment.id)"
            class="btn-delete-comment"
          >
            <span class="material-icons delete">delete</span>
          </button>
        </div>
      </div>
    </section>
  </div>
</main>
