<p>edit-task works!</p>
<app-navbar></app-navbar>

<div class="header">
  <button class="back-button">←</button>
</div>

<h1 class="page-title">Crie sua tarefa</h1>

<div class="container">
  <div class="task-form">
    <div class="form-left">
      <div class="title-task">
        <label for="title">Título da tarefa:</label>
        <input id="title" type="text" formControlName="title" class="input-field" />
      </div>

      <div class="description-task">
        <label for="description">Descreva sua tarefa:</label>
        <textarea id="description" formControlName="description" class="textarea-field"></textarea>
      </div>
    </div>

    <div class="form-right">
      <h3>Defina as datas:</h3>
      <div class="date-field">
        <span class="date-icon">⏳</span>
        <span class="date-name">Início</span>
        <span class="date-value">May, 15 2022</span>
      </div>
      
      <div class="date-field">
        <span class="date-icon">➡️</span>
        <span class="date-name">Fim</span>
        <span class="date-value">May, 15 2022</span>
      </div>
      
      <div class="date-field">
        <span class="date-icon">📅</span>
        <span class="date-name">Prazo</span>
        <span class="date-value">May, 15 2022</span>
      </div>

      <hr class="hr-separator">

      <h3>Defina o projeto e o responsável</h3>

      <div class="info-field">
        <span class="info-icon">📂</span>
        <span class="info-name">Projeto</span>
        <span class="info-value">Team projects</span>
      </div>

      <div class="info-field">
        <span class="info-icon">👤</span>
        <span class="info-name">Responsável</span>
        <span class="info-value">User 2</span>
      </div>

      <div class="info-field">
        <span class="info-icon">✔️</span>
        <span class="info-name">Status</span>
        <span class="info-status">Em andamento</span>
      </div>
    </div>
  </div>

  <button class="save-button">Salvar</button>
</div>
