.header {
  background-color: #8109FF;
  color: white;
  padding-block: .8rem;
  padding-inline: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav__links {
  display: flex;
  gap: 1rem; 
  padding-left: 4rem;
}

.nav__links a {
  color: white;
  padding: .75rem;
  border-radius: 10px;
}

.nav__links a:hover {
  background-color: #7201E8;
}

.nav__links a.active {
  background-color: #7201E8;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.material-icons.md-36 { 
  font-size: 36px; 
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -5px;
  width: 5rem;
  border-radius: .75rem;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.dropdown a {
  display: block;
  padding: .75rem;
  color: #2B2B2B;
}

.notifications {
  margin-right: 1rem;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #FFD700;
  border-radius: 50%;
}

.notification-list {
  position: absolute;
  top: 100%;
  right: -5px;
  width: 350px;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #333;
}

.notification-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  align-items: flex-start;
}

.notification-avatar {
  margin-right: 10px;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}

.avatar-initials {
  width: 36px;
  height: 36px;
  background-color: #e8d3ff;
  color: #8109FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.notification-content {
  flex: 1;
  margin-right: 10px;
}

.notification-text {
  text-align: left;
  font-size: 12px;
}

.notification-comment {
  margin-top: 5px;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 6px;
  font-size: 10px;
  width: max-content;
}

.notification-options {
  color: #777;
  cursor: pointer;
}

.no-notifications {
  padding: 20px;
  text-align: center;
  color: #777;
}