body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.logo {
  height: 32px;
}

.flex {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

main {
  padding: 20px;
}

.container {
  background: #F6F6F6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #423F47;
  font-size: 24px;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #a994bd4f;
  padding: 8px;
  border-radius: 50px;
  width: 90%;
}

.search-bar input {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
  width: 100%;
}

.material-icons.search {
  color: #423F47;
  font-size: 20px;
}

.btn-criar-tarefa {
  background-color: #6F27FE;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 6rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn-criar-tarefa:hover {
  background: #7201E8;
  transform: scale(1.02);
}

.btn-menu {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #423F47;
  padding: 8px;
}

.btn-menu:hover {
  color: #6F27FE;
}

.tabela-tarefas {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.tabela-header {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  text-align: center;
}

.tabela-linha, .tabela-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.col {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.acoes {
  display: flex;
  justify-content: center;
}

.excluir {
  border: none;
  background: none;
  cursor: pointer;
}

.material-icons.delete {
  color: rgba(179, 72, 51, 0.419);
  font-size: 18px;
}

.material-icons.delete:hover {
  color: rgba(179, 72, 51, 0.719);
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.status-pendente {
  background-color: #FFFDE7;
  color: #FFB300;
}

.status-andamento {
  background-color: #F3E5F5;
  color: #6F27FE;
}

.status-concluido {
  background-color: #D4F7E7;
  color: #28a745;
}

.material-icons.edit {
  color: rgba(179, 151, 51, 0.419);
  font-size: 18px;
}

.material-icons.edit:hover {
  color: rgba(179, 151, 51, 0.719);
}
