<app-navbar></app-navbar>

<main>
    <h1>Tarefas</h1>
    <div class="container">
        <div class="flex">
            <div class="search-bar">
                <span class="material-icons search">search</span>
                <input class="search" type="text" placeholder="Buscar tarefa...">
            </div>
            <button class="btn-menu">&#9776;</button>
            <button class="btn-criar-tarefa">+ Tarefa</button>
        </div>

        <div class="tabela-tarefas">
            <div class="tabela-header">
                <span class="col">Tarefa</span>
                <span class="col">Projeto</span>
                <span class="col">Status</span>
                <span class="col">Ações</span>
            </div>

            <div class="tabela-linha" *ngFor="let task of tasks">
                <span class="col">{{ task.title }}</span>
                <span class="col">{{ task.projectName }}</span>
                <span class="col">
                    <span class="status" [ngClass]="{
                        'status-pendente': task.status === 'Pendente',
                        'status-andamento': task.status === 'Em Andamento',
                        'status-concluido': task.status === 'Concluído'
                    }">
                        {{ task.status }}
                    </span>
                </span>
                <span class="col acoes">
                    <button class="excluir" (click)="deleteTask(task.id)">
                        <span class="material-icons delete">delete</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</main>
