<app-navbar></app-navbar>
<router-outlet></router-outlet>

<main>
  <a href="/projects">
    <span class="material-icons goback"> arrow_back </span>
  </a>
  <div class="container">
    <div class="title">
      <h1>{{ project?.title }}</h1>
      <span class="material-icons edit" (click)="editProject()"> edit </span>
    </div>
    <section class="info">
      <ul class="info-list">
        <li>
          <div class="flex">
            <span class="material-icons"> people_outline </span>
            <h2>Participantes</h2>
          </div>
          <div class="participants">
            <button class="btn-participant">+</button>
            <p class="tags" *ngIf="!project?.participantIds?.length">Nenhum Participante</p>
            <p class="tags" *ngFor="let participantId of project?.participantIds">
              {{ participantNames[participantId] }}
            </p>
          </div>
        </li>
      </ul>
      <div class="line"></div>
    </section>
    <section class="description">
      <h3 class="subtitle">Descrição</h3>
      <div class="description-content">
        <textarea readonly>{{ project?.description }}</textarea>
      </div>
      <div class="line"></div>
    </section>
    <section class="tasks">
      <h3 class="subtitle">Tarefas Associadas</h3>
      <div class="table">
        <div class="cols">
          <h4 style="padding-left: 6.5rem">Tarefa</h4>
          <h4>Status</h4>
        </div>
        <div class="rows" *ngFor="let task of tasks">
          <p class="task-title"><a [routerLink]="['/tasks', task.id]">{{ task.title }}</a></p>
          <p class="status">{{ translateStatus(task.status) }}</p>
          <p><span class="material-icons delete" (click)="deleteTask(task.id)"> delete_outline </span>
        </div>
      </div>
    </section>
  </div>
</main>
