* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  position: relative;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
